@import "./variable.scss";

/* 根据 dpr 计算 font-size */
@mixin font_dpr($font-size) {
  font-size: $font-size;
  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }
  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

/* 通过该函数设置字体大小，后期方便统一管理；*/
@mixin font_size($size) {
  @include font_dpr($size);
}

// 不换行
@mixin no-wrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// 限制行数
@mixin clamp($row) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row;
}

// 界面换肤。根据属性选择器来设置背景颜色
@mixin bg_color() {
  background-color: $background-color-theme; // 默认
  [data-theme=green] & {
    background-color: $background-color-theme1;
  }
  [data-theme=night] & {
    background-color: $background-color-theme2;
  }
}

// 图片换肤
@mixin bg_img($url) {
  [data-theme=red] & {
    background-image: url($url + '_163.png');
  }
  [data-theme=green] & {
    background-image: url($url + '_qq.png');
  }
  [data-theme=night] & {
    background-image: url($url + '_night.png');
  }

  background-size: cover;
  background-repeat: no-repeat;

  // 根据不同的屏幕像素比显示不同尺寸的图片
  [data-theme=red][data-dpr='2'] & {
    background-image: url($url + '_163@2x.png');
  }[data-theme=red][data-dpr='3'] & {
     background-image: url($url + '_163@3x.png');
   }
  [data-theme=green][data-dpr='2'] & {
    background-image: url($url + '_qq@2x.png');
  }
  [data-theme=green][data-dpr='3'] & {
    background-image: url($url + '_qq@3x.png');
  }
  [data-theme=night][data-dpr='2'] & {
    background-image: url($url + '_night@2x.png');
  }
  [data-theme=night][data-dpr='3'] & {
    background-image: url($url + '_night@3x.png');
  }
}
